.banner-bg-cont {
  --circle-size: 60vw;
  --blending: hard-light;

  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -2;
  overflow: hidden;
  background: $light;
  top: 0;
  left: 0;

  svg {
    display: none;
  }

  .gradient-blur {
    filter: blur(18px);
    width: 100%;
    height: 100%;
  }

  .gradients-container {
    filter: url(#goo);
    width: 100%;
    height: 100%;
  }

  .g {
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1/1;
    opacity: 1;
    mix-blend-mode: var(--blending);
  }

  .g1 {
    background: linear-gradient(90deg, rgba($red, 1) 0%, rgba($yellow, 1) 100%);
    --circle-size: 20vw;
    width: var(--circle-size);

    top: 60%;
    left: 60%;

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;
  }

  .g2 {
    background: linear-gradient(
      90deg,
      rgba($blue, 1) 0%,
      rgba($purple, 1) 100%
    );
    --circle-size: 10vw;
    width: var(--circle-size);

    top: 30%;
    left: 75%;

    transform-origin: calc(50% - 200px);
    animation: moveInCircle 50s linear reverse infinite;
  }

  .g3 {
    background: linear-gradient(
      90deg,
      rgba($purple, 1) 0%,
      rgba($blue, 1) 100%
    );
    --circle-size: 15vw;
    width: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 200px);
    animation: moveInCircle 60s linear infinite;
  }

  .g4 {
    --circle-size: 25vw;
    background: linear-gradient(90deg, rgba($red, 1) 0%, rgba($purple, 1) 100%);
    width: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% + 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    --circle-size: 20vw;

    background: linear-gradient(
      90deg,
      rgba($yellow, 1) 0%,
      rgba($blue, 1) 100%
    );
    width: var(--circle-size);

    top: 20%;
    left: 55%;

    transform-origin: calc(50% - 100px) calc(50% + 50px);
    animation: moveInCircle 30s linear infinite;

    opacity: 0.7;
  }

  .interactive {
    background: linear-gradient(90deg, rgba($purple, 1) 0%, rgba($red, 1) 100%);
    width: 8vw;
    height: 8vw;

    top: -4vw;
    left: -4vw;
    transform-origin: center center;
    opacity: 0.7;
  }
}

.banner-text-container {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100svh;
  padding: 4vh 4vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.banner-titles {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.banner-title {
  font-size: 80px;
  font-weight: 500;
  line-height: 69px; /* 84.146% */
  text-transform: uppercase;
  margin-bottom: 10px;
}

.banner-subtitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px; /* 133.333% */
  text-transform: uppercase;
}

.banner-dates {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin-bottom: 15vh;

  .banner-date {
    font-size: 26px;
    font-weight: 300;
  }

  .banner-dates-line {
    width: 20px;
    height: 1px;
    background-color: $dark;
    opacity: 0.5;
  }
}

@include bp("md") {
  .banner-bg-cont {
    --circle-size: 20vw;
  }

  .banner-text-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .banner-title {
    font-size: 13vw;
    line-height: 11vw; /* 90% */
    margin-bottom: 2vh;
  }

  .banner-subtitle {
    font-size: 4vw;
    line-height: 4.5vw; /* 123.333% */
  }

  .banner-dates {
    order: 1;
    height: 100%;
    margin-bottom: 0;
    font-size: 42px;
    gap: 5px;
    justify-content: flex-end;
    flex-direction: column;

    .banner-date {
      writing-mode: sideways-lr;
      font-size: 2vw;

      &:nth-child(1) {
        order: 2;
      }

      &:nth-child(2) {
        order: 0;
      }
    }

    .banner-dates-line {
      width: 1px;
      opacity: 1;
      height: 20px;
      order: 1;
    }
  }
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}
