.carrousel-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 100px;
}

.carrousel-control {
  border: 1px solid black;
  background: $dark;
  padding: 16px 20px;
  position: relative;
  cursor: pointer;

  &.prev {
    transform: rotate(180deg);
  }

  img {
    color: white;
    mix-blend-mode: difference;
    z-index: 1;
    position: relative;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    transition: 0.4s;
    background: $light;
  }
  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    transition: 0.4s;
    background: var(--random-color, yellow);
  }

  &:hover {
    &::before {
      width: 0;
      transition: 0.4s 0.2s;
    }

    &::after {
      width: 0;
    }
  }
}

.carrousel {
  display: flex;
  flex-direction: row;
  padding: 5vh 0;
  overflow: hidden;
  transition: all 0.5s;
  position: relative;
}

.carrousel-item {
  position: relative;
  transition: all 0.5s;

  video {
    filter: contrast(1);

    transition: 0.3s;
    max-height: 80vh;
    object-fit: cover;
    max-width: 100vw;
    aspect-ratio: 3/4;
  }

  &::after {
    pointer-events: none;
    content: "";
    position: absolute;
    inset: 0;
    background: rgba($yellow, 0.9);
    mix-blend-mode: hard-light;
    transition: 0.3s;
  }

  &:nth-child(2)::after {
    background: rgba($purple, 0.9);
  }

  &:nth-child(3)::after {
    background: rgba($red, 0.9);
  }

  &:nth-child(4)::after {
    background: rgba($blue, 0.9);
  }

  &:hover {
    &::after {
      opacity: 0;
    }
  }
}
