.events-cont {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0 70px;
}

.event-thumb.mobile {
  padding-bottom: 12px;
  border-bottom: 0.5px solid $dark;
}

.event-thumb-img {
  width: 30vw;
  height: 170px;
  position: relative;
  overflow: hidden;
  margin-bottom: 12px;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   inset: 0;
  //   background: rgba($yellow, 0.5);
  //   background-blend-mode: hard-light;
  // }
}

.event-pdf-cont {
  display: flex;
  margin-bottom: 10vh;
  justify-content: center;
}

.event-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 12px;
}

.event-text {
  max-width: 60vw;
}

.event-price {
  font-weight: 500;
  font-size: 16px;

  text-transform: uppercase;
}

.event-info-cont {
  gap: 10px;
  align-items: center;
  p {
    font-weight: 700;
    font-size: 16px;
  }

  path {
    fill: $dark;
  }
}

.event-date {
  font-weight: 400;
  font-size: 16px;
}

.event-thumb.desktop {
  display: none;
  position: relative;
  cursor: pointer;
  padding: 12px 12px;
  border-bottom: 0.5px solid $dark;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 100%;
    content: "";
    transition: bottom 0.3s;
    background: $dark;
  }
  &::before {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 100%;
    content: "";
    transition: top 0.3s;
    background: $dark;
  }

  &:hover {
    background: $dark;
    // &::before {
    //   top: 50%;
    //   z-index: -1;
    // }

    // &::after {
    //   bottom: 50%;
    //   z-index: -1;
    // }
  }

  .event-flex-texts {
    width: 80%;
  }

  .event-flex-titles {
    max-width: 50%;
  }

  .event-thumb-img {
    margin-right: 30px;
    margin-bottom: 0;
    height: unset;
    width: unset;

    img {
      position: relative;
      height: 256px;
      width: 256px;
      transform: none;
    }
  }

  .event-date {
    margin-right: 12px;
    text-align: right;
  }
}

.event {
  &:nth-child(4n + 1) {
    .event-thumb.desktop:hover {
      color: $yellow;
      path {
        fill: $yellow;
      }
    }
  }
  &:nth-child(4n + 2) {
    .event-thumb.desktop:hover {
      color: $purple;
      path {
        fill: $purple;
      }
    }
  }
  &:nth-child(4n + 3) {
    .event-thumb.desktop:hover {
      color: $red;
      path {
        fill: $red;
      }
    }
  }
  &:nth-child(4n + 4) {
    .event-thumb.desktop:hover {
      color: $blue;
      path {
        fill: $blue;
      }
    }
  }
}

.event-detail-cont {
  transform: translateY(120%);
  position: fixed;
  z-index: 10;
  left: 0;
  top: 10vh;
  bottom: 0;
  height: 90vh;
  width: 100vw;
  background: $light;
  display: block;

  transition: transform 0.3s ease;
  &.open {
    transform: translateY(0);
  }

  &.desktop {
    position: fixed;
    display: none;
    padding: 5vh 0;

    h3 {
      font-size: 50px;
      line-height: 58px;
    }
  }
}

.event-details-price-cont {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.event-detail-img-flex {
  display: flex;
  align-items: flex-end;
  position: relative;
  height: 35vh;
  padding: 16px;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.8);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    z-index: 1;
  }

  img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }

  h3 {
    position: relative;
    z-index: 2;
    margin-bottom: 0;

    color: $light;
  }
}

.event-detail-cross-cont {
  transition: 0.3s;
  cursor: pointer;
  mix-blend-mode: difference;

  &:hover {
    transform: rotate(90deg);
  }

  &.mobile {
    position: absolute;
    z-index: 5;
    right: 16px;
    top: 16px;
    mix-blend-mode: normal;
  }
}

.event-detail-texts {
  padding: 16px;
  height: 55vh;
  overflow-y: auto;
}

.event-detail-top-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.event-details-flex {
  display: flex;
  text-align: right;
  align-items: right;
  flex-direction: column;
  max-width: 50%;
  gap: 5vh;
}

.event-detail-buy-flex {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  align-items: flex-start;
}

.event-detail-img-cont {
  height: 80vh;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.event-detail-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.right {
    align-items: flex-end;
    text-align: right;
  }
}

.event-cta {
  margin-top: 12px;
}

.event-detail-links {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  gap: 16px;
  margin: 40px 0 24px;

  a {
    font-size: 20px;
    text-decoration-thickness: 1.5px;
    &:hover {
      color: var(--random-color, $yellow);
      background: $dark;
    }
  }
}

@include bp("lg") {
  .event-detail-cont {
    display: none;

    &.desktop {
      display: block;
    }
  }

  .event-thumb {
    display: none;

    &.desktop {
      display: flex;
    }
  }

  .events-cont {
    gap: 0;
  }

  .event-detail-links {
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    margin: 0;
  }
}
