* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  font-family: "Satoshi", sans-serif;
  color: $dark;

  &.no-scroll {
    overflow: hidden;
  }
}
html {
  scroll-behavior: smooth;
}

.spacer {
  height: 100svh;
  pointer-events: none;

  &.end {
    height: 120svh;
  }
}

*::selection {
  background: $dark;
  color: $light;
}

.background {
  position: fixed;
  z-index: 3;
  inset: 0;
  background: rgba($dark, 0.1);
  backdrop-filter: blur(2px);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
  }
}

.white-bg {
  background: $light;
  position: relative;
  z-index: 1;
}

h2 {
  text-transform: uppercase;
  font-size: 47px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 35px;

  &.h2-small {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 15px;
  }
}

.hidden {
  display: none;
}

h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 25px;
}

p {
  font-size: 20px;
  font-weight: 400;
}

@include bp("md") {
  h2 {
    font-size: 6vw;
    line-height: 6.1vw;

    &.h2-small {
      font-size: 1.4vw;
      line-height: normal;
      margin-bottom: 25px;
    }
  }

  h3 {
    font-size: 3vw;
    line-height: 3.1vw;
    margin-bottom: 25px;
  }

  p {
    font-size: 1.4vw;
    line-height: 1.7vw;
  }
}

@include bp("xl") {
  h2 {
    font-size: 90px;
    line-height: 95px;
  }
}
